<%- include("header") -%>

<h2>This is the about page</h2>

<p>This to-do list project is a simple yet powerful application that helps individuals or teams manage and organize their tasks and responsibilities. It provides a digital platform for creating, tracking, and prioritizing tasks, ensuring that nothing falls through the cracks and allowing users to stay productive and organized.

    The main purpose of a to-do list project is to provide a centralized place to capture and manage tasks effectively. Users can add tasks with relevant details such as task names, due dates, priorities, and additional notes. They can mark tasks as completed and categorize tasks into different lists or categories for better organization</p>

<%- include("footer") -%>
